extends layout.pug

block content
  -
    const getThemeClass = (categoryItem, categoryId) => {
      return categoryItem.id == categoryId ? 'themes__item-link themes__item-link--active' : 'themes__item-link'
    };
  main.articles-category
    h1 #{category.name}
    section.articles-category__theme-list
      h2.visually-hidden Список тем
      ul.themes
        each categoryItem in categories
          if categoryItem.count > 0
              li.themes__item
                a(href=`/articles/category/${categoryItem.id}` class=getThemeClass(categoryItem, category.id))
                  | #{categoryItem.name}#{` `}
                  sup #{categoryItem.count}
    include ./partials/articles
