extends layout

block content
  main.main-page.main-page--padding
    section.main-page__publication.publication
      h1.publication__title Комментарии
      ul.publication__list
        each article in articles
          each comment in article.comments
            li.publication__list-item
              .publication__header
                img.publication__list-image(src=`img/${comment.users.avatar}` width='20' height='20' alt=comment.users.name)
                b.publication__list-name #{comment.users.name}
                time.publication__item-time(datetime='comment.createdAt') #{formatDateWithTime(comment.createdAt)}
              a.publication__item-text(href='#') #{comment.text}
              p.publication__text-strong #{article.title}
              form(action=`/my/comments/delete/${comment.id}` method="POST")
                input(type='hidden' name='articleId' value=comment.articleId)
                button.publication__button.button.button--close-item(type='submit')
                  span.visually-hidden Закрыть строку списка
